<!-- <div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
        <h1 class="breadcrumb-item active"aria-current="page" style="color:blueviolet">My profile</h1>
    </nav>
    <div class="'col-md-8">
        <div clas="card mb-3">
        <div class="card-body">
            <table width="50%" height=""></table>
            <tr>
                <td>
                    <form>
                        <div class="tb">
                            <fieldset>
                                <legend>
                                    <b>Personal information</b>

                                </legend>
                                <table width="70%" height="60%">

                              <td>First name</td> <br><br>
                              <td>lastname</td>  <br><br>
                              <td>Email</td>  <br><br>
                              <td>Address</td>  <br><br>
                              
                                 
                                </table>
                            </fieldset>
                        </div>
                    </form>
                </td>
            </tr>
        </div>
    </div>
        </div>
    </div>
</div> --> 
<div class="container mt-4">


<div class="table"><mat-card class="container">
    <mat-card-content>
      <div class="cont">
        <div class="but">
          <button mat-raised-button >Change password</button> 
        </div>


     </div>
     <div class="a">
      

 <div class="d-flex justify-content-left">
    <img src="assets/img/p.png" alt="" style="height: 100px; width: 100px;">
</div>
<div class="d-flex justify-content-left">
    <h2> PERRSONAL INFORMATION</h2>
</div>



<div >
    
    <p>firstname:</p>
   
</div>
<div >
  
    <p>lastname:</p>
   
</div>
<div >
   
    <p>Email:</p>
</div>
<div >
   
    <p>Address:</p>
</div> 

</div>


